<button pButton type="button" class="p-button-primary m-2" label="Add" (click)="showDialog()"></button>

<div class="p-input-icon-left p-button-primary m-2">
  <i class="pi pi-search"></i>
  <input type="text" pInputText [(ngModel)]="searchKey" placeholder="Search">
</div>

<p-dialog class="justify-content-center align-items-center" header="Add New Department" [(visible)]="displayAddModal">
    <span class="p-float-label mb-4">
      <p-inputNumber id="ID" [(ngModel)]="tempDepartment.id" locale="en-US"></p-inputNumber>
      <label for="ID">Id</label>
    </span>

  <span class="p-float-label mb-4">
      <input id="name" type="text" [(ngModel)]="tempDepartment.name" pInputText>
      <label for="name">Name</label>
    </span>
  <span class="p-float-label mb-4">
      <input id="location" type="text" [(ngModel)]="tempDepartment.location" pInputText>
      <label for="location">location</label>
    </span>
  <button pButton type="button" class="p-button-primary m-2" label="Add" (click)="add()"></button>
</p-dialog>


<table mat-table [dataSource]="departments|arraySplice:searchKey" class="mat-elevation-z8">
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef> Id.</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name | stringConvert}} </td>
  </ng-container>

  <ng-container matColumnDef="Location">
    <th mat-header-cell *matHeaderCellDef> Location</th>
    <td mat-cell *matCellDef="let element"> {{element.location | stringConvert}} </td>
  </ng-container>


  <ng-container matColumnDef="Options">
    <th mat-header-cell *matHeaderCellDef>Options</th>
    <td mat-cell *matCellDef="let element">
      <button pButton type="button" label="Edit" (click)="showModalDialog(element.id)"
              class="p-button-warning m-2"></button>
      <button pButton type="button" class="p-button-danger m-2" label="Delete" (click)="delete(element.id)"></button>

      <p-dialog header="Edit Department" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
                [draggable]="false" [resizable]="false">

          <span class="p-float-label mb-4">
             <input id="editName" type="text" [(ngModel)]="selectedDepartment.name" pInputText>
              <label for="editName">Name</label>
          </span>

        <span class="p-float-label mb-4">
             <input id="editLocation" type="text" [(ngModel)]="selectedDepartment.location" pInputText>
              <label for="editName">Location</label>
        </span>
        <ng-template pTemplate="footer">
          <p-button (click)="edit(selectedDepartment.id)" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
      </p-dialog>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

