<button pButton type="button" class="p-button-primary m-2" label="Add" (click)="showDialog()"></button>
<button pButton type="button" class="p-button-secondary m-2" label="Show Image" (click)="showImage()"></button>
<!--<p-button ></p-button>-->

<div class="p-input-icon-left p-button-primary m-2">
  <i class="pi pi-search"></i>
  <input type="text" pInputText [(ngModel)]="searchKey" placeholder="Search">
</div>
<p-dialog class="justify-content-center align-items-center" header="Add New Product" [(visible)]="display">
    <span class="p-float-label mb-4">
      <p-inputNumber id="ID" [(ngModel)]="tempProduct.id" locale="en-US"></p-inputNumber>
      <label for="ID">Id</label>
  </span>

  <span class="p-float-label mb-4">
    <input id="name" type="text" [(ngModel)]="tempProduct.name" pInputText>
    <label for="name">Name</label>
  </span>

  <span class="p-float-label mb-4">
    <p-fileUpload id="image" [(ngModel)]="tempProduct.image" name="myfile[]" url="./upload.php"></p-fileUpload>
    <label for="image">Image</label>
  </span>

  <span class="p-float-label mb-4">
    <p-inputNumber id="price" [(ngModel)]="tempProduct.price" mode="currency" currency="USD"
                   locale="en-US"></p-inputNumber>
    <label for="price">Price</label>
  </span>

  <span class="p-float-label mb-4">
    <p-calendar id="available" [(ngModel)]="tempProduct.date"></p-calendar>
    <label for="available">Available</label>
  </span>

  <span class="p-float-label mb-4">
    <p-inputNumber id="rate" [(ngModel)]="tempProduct.rate" [min]="0" [max]="5"></p-inputNumber>
    <label for="rate">Rate</label>
  </span>

  <button pButton type="button" class="p-button-primary m-2" label="Add" (click)="add()"></button>
</p-dialog>
<table mat-table [dataSource]="products|arraySplice:searchKey" class="mat-elevation-z8">
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef> Id.</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name | stringConvert}} </td>
  </ng-container>

  <ng-container matColumnDef="Image">
    <th mat-header-cell *matHeaderCellDef> Image</th>
    <td mat-cell *matCellDef="let element"> {{element.image}} </td>
  </ng-container>

  <ng-container matColumnDef="Price">
    <th mat-header-cell *matHeaderCellDef> Price</th>
    <td mat-cell *matCellDef="let element"> {{element.price | currency:"EGP"}} </td>
  </ng-container>

  <ng-container matColumnDef="Available">
    <th mat-header-cell *matHeaderCellDef> Available</th>
    <td mat-cell *matCellDef="let element"> {{element.date | date:"dd/MM/yyyy"}} </td>
  </ng-container>

  <ng-container matColumnDef="Rate">
    <th mat-header-cell *matHeaderCellDef> Rate</th>
    <td mat-cell *matCellDef="let element">
      <app-stars [score]="element.rate" (rateClicked)="onRateClicked($event,element.id)"></app-stars>
    </td>
  </ng-container>

  <ng-container matColumnDef="Options">
    <th mat-header-cell *matHeaderCellDef>Options</th>
    <td mat-cell *matCellDef="let element">
      <button pButton type="button" label="Edit" (click)="showModalDialog(element.id)"
              class="p-button-warning m-2"></button>
      <button pButton type="button" class="p-button-danger m-2" label="Delete" (click)="delete(element.id)"></button>

      <p-dialog header="Edit Product" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
                [draggable]="false" [resizable]="false">

          <span class="p-float-label mb-4">
             <input id="editName" type="text" [(ngModel)]="selectedProduct.name" pInputText>
              <label for="editName">Name</label>
          </span>

        <span class="p-float-label mb-4">
            <p-fileUpload id="editImage" [(ngModel)]="selectedProduct.image" name="myfile"
                          url="./upload.php">
            </p-fileUpload>
            <label for="editImage">Image</label>
        </span>
        <span class="p-float-label mb-4">
            <p-inputNumber id="editPrice" [(ngModel)]="selectedProduct.price" mode="currency"
                           currency="USD"
                           locale="en-US">
            </p-inputNumber>
            <label for="editPrice">Price</label>
        </span>

        <span class="p-float-label mb-4">
            <p-calendar id="editeAvailable" [(ngModel)]="selectedProduct.date">element.date</p-calendar>
            <label for="editeAvailable">Available</label>
        </span>

        <span class="p-float-label mb-4">
            <p-inputNumber id="editRate" [(ngModel)]="selectedProduct.rate" [min]="0"
                           [max]="5"></p-inputNumber>
             <label for="editRate">Rate</label>
         </span>

        <ng-template pTemplate="footer">
          <p-button (click)="edit(element.id)" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
      </p-dialog>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
